
/*=========================================== 
Autor: 7MarV7
file: style.css
Date: 20.07.2024
Last changes: 09.09.2024  
===========================================*/

/*=========================================== 
 Global
===========================================*/

@import url(global.css);

/*=========================================== 
 Site & Footer Nav.
===========================================*/

@import url(navigation.css);

/*=========================================== 
Back-To-Top-Arrow
===========================================*/

@import url(back-to-top.css);

/*=========================================== 
 Page-Specific-Content
===========================================*/

@import url(page-content.css);

/*=========================================== 
 Responsive-Design 
===========================================*/

@import url(responsive-design.css);